@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f3eded;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 3rem;
  margin: 1rem;
  color: rgb(71, 65, 65);
}
span {
  font-size: 1.5rem;
  margin: 1rem;
  color: rgb(71, 65, 65);
}
.game {
  width: 100vw;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 520px;
  height: 520px;
  background: #f3eded;
}
.square {
  background: rgb(241, 46, 46);
  border: 1px solid thistle;
  border-radius: 50%;
  margin: 2.5px;
  width: 125px;
  height: 125px;
  cursor: pointer;
  color: rgb(240, 233, 233);
  font-size: 5rem;
}
.square-black {
  background: rgb(241, 46, 46);
  border: 1px solid thistle;
  margin: 2.5px;
  width: 125px;
  height: 125px;
  cursor: pointer;
  border-radius: 50%;
  color: rgb(240, 233, 233);
  font-size: 5rem;
}
.square,
.square-black {
  display: flex;
  align-items: center;
  justify-content: center;
}
