@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&family=Roboto:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #b9d9eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
}
h1 {
  font-size: 3rem;
  color: rgb(255, 255, 255);
}
h3 {
  color: white;
}
span {
  font-size: 1.5rem;
  color: rgb(255, 247, 247);
  margin: 2rem;
}
.game {
  width: 100vw;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  box-shadow: 0px 8px 23px -6px rgba(0, 0, 0, 0.91);
  padding: 25px;
  width: 570px;
  height: 570px;
  border-radius: 25px;
  background: #add8e6;
}
.circle {
  background: #e0ffff;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 8px 23px -6px rgba(0, 0, 0, 0.91);
  color: rgb(255, 255, 255);
  margin: 3px;
  width: 120px;
  height: 120px;
  cursor: pointer;
  font-size: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.taped {
  background: #b9d9eb;
}
.flip-scale-up-ver {
  animation: flip-scale-up-ver 0.5s linear;
}

/**
 * ----------------------------------------
 * animation flip-scale-up-ver
 * ----------------------------------------
 */
@-webkit-keyframes flip-scale-up-ver {
  0% {
    -webkit-transform: scale(1) rotateY(0);
    transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateY(90deg);
    transform: scale(2.5) rotateY(90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(180deg);
    transform: scale(1) rotateY(180deg);
  }
}
@keyframes flip-scale-up-ver {
  0% {
    -webkit-transform: scale(1) rotateY(0);
    transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateY(90deg);
    transform: scale(2.5) rotateY(90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(180deg);
    transform: scale(1) rotateY(180deg);
  }
}

@media screen and (max-width: 800px) {
  body {
    text-align: center;
  }
  h1 {
    font-size: 1.5rem;
    margin: 1rem;
  }
  span {
    font-size: 1rem;
    margin: 2rem;
  }

  .container {
    padding: 25px;
    width: 340px;
    height: 340px;
    border-radius: 25px;
  }
  .circle {
    margin: 3px;
    width: 65px;
    height: 65px;
    border-radius: 15px;
    font-size: 2.5rem;
    font-weight: bold;
  }
}
